 {% extends "base.html" %}

 {% block content %}
 <header class="intro-header" style="background-image: url('static/img/chem.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Chemposer</h1>
                        <hr class="small">
                        <span class="subheading">A Parallel Perfect Matching Graph Algorithm for Chemical Bond Assignment</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    	
                        <h2 align="center" class="post-title">
                            About
                        </h2>
                        <p>We are implementing a system for multi-core CPUs that takes in a molecule whose bond orders are unknown and computes the optimal bond order assignment subject to biological constraints. We are building the system in C++ using OpenMP and will be using a parallel perfect matching algorithm to compute the bond assignment.</p>
                   
                    
                </div>

            </div>
        </div>
    </div>

    <hr>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 pull-right">
               <button align="center" type="button" class="btn btn-secondary"><a href="/chemposer/upload_xyz">Try It</a></button>
            </div>
        </div>
    </div>

    {% endblock %}